body{
    background-color: #bdbdbd;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
header h1{
    margin: 0;
    text-align: center;
}
.first-post{
    background-color: white;
    margin-top: 20px;
}

.header-post{
    display: flex;
}

.header-post .post-date {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-post .post-title{
    width: 80%;

}

.first-post img{
    width: 100%;
}

.first-post h2, .first-post p{
    padding: 10px;
    margin: 0;
}
.image{
    width: 100%;
}
.container{
    width: 600px;
    margin: auto;
}